m-channel__contentBlocked {
  height: 100%;
  margin: 0;
  display: block;
  margin-top: 5%;

  @include m-theme() {
    border-top: 1px solid themed($m-borderColor--primary);
  }

  .m-channel-contentBlocked__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 20%;

    @media screen and (max-width: $max-mobile) {
      margin: 10%;
    }

    .m-channel-contentBlocked__icon {
      font-size: 42pt;
    }

    .m-channel-contentBlocked__primaryText {
      font-size: 18pt;
      text-align: center;
      font-weight: 700;
    }

    .m-channel-contentBlocked__secondaryText {
      font-size: 14pt;
      text-align: center;
      font-weight: 500;
    }

    .m-channel-contentBlocked__confirmButton {
      background: transparent;
      padding: 14px 30px;
      border-radius: calc(1em + 40px);
      font-size: 1.2em;
      font-weight: 500;
      line-height: calc(1em + 5px);
      cursor: pointer;

      @include m-theme() {
        color: themed($m-black);
        border: 1px solid themed($m-borderColor--primary);
      }
    }
  }
}
