.m-pay__form {
  margin: 11px 0 0;

  @media screen and (max-width: $max-mobile) {
    margin: 31px 0 0;
  }

  .m-payForm__tabs {
    padding: 0 50px;

    @media screen and (max-width: $max-mobile) {
      justify-content: flex-start;
      padding: 0 20px;

      .m-tabs__tab > a:first-child {
        margin-left: 0;
      }
    }
  }

  .m-payForm__fieldset {
    margin: 39px 0 0;
  }

  .m-payForm__fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 0 50px;

    > .m-payForm__field {
      flex: 1;
      margin: 0 0 27px;

      @media screen and (max-width: $max-mobile) {
        margin: 0 0 35px;
      }
    }

    @media screen and (max-width: $max-mobile) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0 20px;
    }
  }

  .m-payForm__field {
    font-size: 16px;
    line-height: 21px;

    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='date'] {
      appearance: none;
      width: 6em;
      padding: 6px 10px;
      border-radius: 2px;
      border: 1px solid;
      font-size: 20px;
      line-height: 24px;
      background: none transparent;

      @include m-theme() {
        color: themed($m-textColor--primary);
        border-color: themed($m-borderColor--primary);
      }
    }
  }

  .m-payForm__label {
    display: block;
    margin: 0 0 11px;
    font-size: 15px;
    line-height: 20px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-payForm__toggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    user-select: none;

    .m-payForm__toggle {
      margin: 0 12px;
    }
  }

  .m-payFormRecurring__tooltip {
    font-size: 15px;
    line-height: 18px;

    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
