<div class="m-pay__form m-formWrapper">
  <div class="m-payForm__tabs m-tabs__container">
    <div class="m-tabs__tab">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'tokens'"
        (click)="service.setType('tokens')"
        i18n
        >Tokens</a
      >
    </div>

    <div class="m-tabs__tab">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'usd'"
        (click)="service.setType('usd')"
        i18n
        >USD</a
      >
    </div>

    <div class="m-tabs__tab">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'eth'"
        (click)="service.setType('eth')"
        i18n
        >ETH</a
      >
    </div>

    <div class="m-tabs__tab">
      <a
        [class.m-tabs__tab--selected]="(service.type$ | async) === 'btc'"
        (click)="service.setType('btc')"
        i18n
        >BTC</a
      >
    </div>
  </div>

  <div class="m-payForm__fieldset">
    <div class="m-payForm__fields">
      <div class="m-payForm__field">
        <label
          for="m-payForm__amount"
          class="m-payForm__label"
          [ngSwitch]="service.type$ | async"
        >
          <ng-container *ngSwitchCase="'tokens'" i18n>Tokens</ng-container>
          <ng-container *ngSwitchCase="'usd'" i18n>USD</ng-container>
          <ng-container *ngSwitchCase="'eth'" i18n>Ether</ng-container>
          <ng-container *ngSwitchCase="'btc'" i18n>Bitcoin</ng-container>
        </label>

        <input
          type="text"
          id="m-payForm__amount"
          [ngModel]="service.amount$ | async | number: '1.0'"
          (ngModelChange)="setAmount($event)"
          placeholder="0"
        />
      </div>
    </div>

    <div class="m-payForm__fields">
      <ng-container *ngIf="(service.type$ | async) === 'tokens'">
        <div class="m-payForm__field m-payForm__toggleField">
          <div class="m-payForm__label" i18n>Wallet Type</div>

          <div class="m-payForm__toggleContainer">
            <span class="m-payForm__toggleLabel" i18n>On-chain</span>

            <span class="m-payForm__toggle"
              ><m-toggle
                leftValue="onchain"
                rightValue="offchain"
                [mModel]="service.tokenType$ | async"
                (mModelChange)="service.setTokenType($event)"
              ></m-toggle
            ></span>

            <span class="m-payForm__toggleLabel" i18n>Off-chain</span>
          </div>
        </div>

        <div class="m-payForm__field">
          <div class="m-payForm__label" i18n>Wallet Balance</div>

          <span
            class="m-payForm__value"
            *ngIf="
              service.wallet.wallet$
                | asyncState: { loaded: false }
                | async as wallet
            "
          >
            <ng-template [ngIf]="wallet.pending" [ngIfElse]="walletValue">
              ...
            </ng-template>

            <ng-template #walletValue>
              <ng-container *ngIf="(service.tokenType$ | async) === 'offchain'">
                {{ wallet.value.offchain.balance | number: '1.0-3' }}
              </ng-container>

              <ng-container *ngIf="(service.tokenType$ | async) === 'onchain'">
                {{ wallet.value.onchain.balance | number: '1.0-3' }}
              </ng-container>
            </ng-template>
          </span>
        </div>
      </ng-container>

      <div class="m-payForm__field">
        <label for="m-payForm__recurring" class="m-payForm__label" i18n
          >Repeat Payment Monthly</label
        >
        <label
          for="m-payForm__recurring"
          class="m-form__customInputWrapper__checkbox"
        >
          <input
            type="checkbox"
            id="m-payForm__recurring"
            class="form-control"
            [ngModel]="service.recurring$ | async"
            (ngModelChange)="service.setRecurring($event)"
          />
          <span class="m-form__customInput__checkbox"></span>

          <span>Repeat</span>
          <m-tooltip class="m-payFormRecurring__tooltip">
            <span m-tooltip--anchor>?</span>
            <ng-container i18n>
              TBD
            </ng-container>
          </m-tooltip>
        </label>
      </div>
    </div>
  </div>
</div>
