<div class="m-pay__ownerBlock">
  <div class="m-payOwnerBlock__channelBanner">
    <div class="m-payOwnerBlockChannelBanner__background"></div>
    <img class="m-payOwnerBlockChannelBanner__avatar" src="" alt="" />
  </div>

  <div class="m-payOwnerBlock__heading">
    <div class="m-payOwnerBlockHeading__title">
      <span i18n>Pay</span>
      <span><m-icon iconId="arrow_right"></m-icon></span>
      <span>User Display Name</span>
    </div>

    <div class="m-payOwnerBlockHeading__username">
      @username
    </div>
  </div>
</div>
