<div class="m-pay__ownerBlock" *ngIf="service.owner$ | async as owner">
  <div class="m-payOwnerBlock__channelBanner">
    <div
      class="m-payOwnerBlockChannelBanner__background"
      [ngStyle]="bannerBackgroundImageCss(owner)"
    ></div>

    <minds-avatar
      class="m-payOwnerBlockChannelBanner__avatar"
      [object]="owner"
      [editMode]="false"
    ></minds-avatar>
  </div>

  <div class="m-payOwnerBlock__heading">
    <div class="m-payOwnerBlockHeading__title">
      <span i18n>Pay</span>
      <span><m-icon iconId="play_arrow" [sizeFactor]="-25"></m-icon></span>
      <span>{{ owner.name }}</span>
    </div>

    <div class="m-payOwnerBlockHeading__username">@{{ owner.username }}</div>
  </div>
</div>
