<ng-container *ngIf="preview">
  <ng-container *ngIf="preview.sourceType === 'image'">
    <img
      class="m-composerPreview__image"
      alt="Uploaded image"
      i18n-alt
      [src]="getUrl(preview)"
      (load)="fitForImage(image)"
      #image
    />
  </ng-container>

  <ng-container *ngIf="preview.sourceType === 'video'">
    <video
      muted
      title="Uploaded video"
      class="m-composerPreview__video"
      (loadedmetadata)="fitForVideo(video)"
      #video
    >
      <source [src]="getUrl(preview)" />
    </video>
  </ng-container>
</ng-container>
