<div
  class="m-composer__toolbar"
  [class.m-composer__toolbar--narrow]="narrow"
  #toolbarWrapper
>
  <m-file-upload
    [hidden]="attachment$ | async"
    (onSelect)="onAttachmentSelect($event)"
    wrapperClass="m-composerToolbar__item"
    accept="image/*,video/*"
    data-cy="upload-button"
    #fileUploadComponent
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="ion"
      iconId="image"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n>Upload</span>
  </m-file-upload>

  <a
    [hidden]="!(attachment$ | async)"
    class="m-composerToolbar__item m-composerToolbar__item--active"
    (click)="onDeleteAttachmentClick($event)"
    data-cy="delete-attachment-button"
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      iconId="delete_forever"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n>Media</span>
  </a>

  <a
    class="m-composerToolbar__item"
    (click)="onNsfwClick($event)"
    data-cy="nsfw-button"
  >
    <m-icon class="m-composerToolbarItem__icon" iconId="explicit"></m-icon>
    <span class="m-composerToolbarItem__label" i18n>NSFW</span>
  </a>

  <a
    class="m-composerToolbar__item"
    (click)="onMonetizeClick($event)"
    data-cy="monetize-button"
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="assets-file"
      iconId="assets/icons/wire.svg"
      [sizeFactor]="25"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n>Monetize</span>
  </a>

  <a
    class="m-composerToolbar__item"
    (click)="onTagsClick($event)"
    data-cy="tags-button"
  >
    <m-icon
      class="m-composerToolbarItem__icon"
      from="text"
      iconId="#"
      [sizeFactor]="25"
    ></m-icon>
    <span class="m-composerToolbarItem__label" i18n>Tags</span>
  </a>

  <span class="m-composerToolbar__itemSpacer"></span>

  <m-button
    class="m-composerToolbar__action"
    [disabled]="(inProgress$ | async) || !(canPost$ | async)"
    [dropdown]="postButtonDropdown"
    (onAction)="onPost($event)"
    data-cy="post-button"
    i18n
  >
    Post
  </m-button>
</div>

<ng-template #postButtonDropdown>
  <ul>
    <li (click)="onSchedulerClick()">
      <span class="m-dropdownMenu__item">
        <m-icon iconId="alarm"></m-icon>
        <span i18n>Schedule Post</span>
      </span>
    </li>
  </ul>
</ng-template>
