<div
  *ngIf="previewResource"
  class="m-composer__mediaPreview"
  [class.m-composer__mediaPreview--portrait]="portrait"
  [hidden]="previewResource.source === 'none'"
>
  <ng-container *ngIf="previewResource.sourceType === 'image'">
    <img
      class="m-composerMediaPreview__image"
      alt="Uploaded image"
      i18n-alt
      [src]="trustedUrl(previewResource.payload)"
      (load)="fitForImage(image)"
      #image
    />
  </ng-container>
  <ng-container *ngIf="previewResource.sourceType === 'video'">
    <video
      muted
      title="Uploaded video"
      class="m-composerMediaPreview__video"
      (loadedmetadata)="fitForVideo(video)"
      #video
    >
      <source [src]="trustedUrl(previewResource.payload + '#t=1')" />
    </video>
  </ng-container>
</div>
