.m-composer__mediaPreview {
  width: 100%;
  height: 329px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  &.m-composer__mediaPreview--portrait {
    height: 383px;
  }

  .m-composerMediaPreview__image,
  .m-composerMediaPreview__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }
}
