// 2020 Design Modal Wrapper

m-overlay-modal.m-modalWrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .m-overlay-modal--backdrop {
    z-index: 0;
  }

  .m-overlay-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 0;
    margin: 0 auto;
    transform: none !important;
    overflow: initial;
    width: auto;
    height: auto;
    max-width: initial;
    max-height: initial;
    min-height: 100%;
    background: none !important;

    .m-overlay-modal--close {
      display: none;
    }
  }
}
