.m-composer__tags {
  .m-composerPopup__title {
    margin: 0 0 12px;
  }

  .m-composerPopup__text {
    margin: 0 0 28px;
  }

  .m-composerTags__trending {
    margin: 0 0 6px; // Trending items have 20px bottom margin
  }

  .m-composerTags__list {
    list-style: none;
    margin: 0 0 32px; // <li> have extra 20 bottom margin
    padding: 0;

    .m-composerTags__item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 0 15px 20px 0;
      padding: 5px 8px 6px 15px;
      border: 1px solid;
      border-radius: 17px;
      font-size: 17px;
      line-height: 23px;

      &:last-child {
        margin-right: 0;
      }

      @include m-theme() {
        color: themed($m-borderColor--primary);
        border-color: themed($m-textColor--secondary);
        background: themed($m-textColor--secondary);
      }

      .m-composerTagsItem__remove {
        padding: 3px;
        cursor: pointer;

        @include m-theme() {
          color: transparentize(themed($m-borderColor--primary), 0.15);
        }
      }
    }
  }
}
