@import 'themes';

.m-pulsating--small {
  box-shadow: 0 0 0 red;
  animation: pulse--small 1.5s infinite;
}

.m-pulsating--big {
  box-shadow: 0 0 0 red;
  animation: pulse--big 2s infinite;
}

@keyframes pulse--small {
  20% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.6);
  }
  99% {
    box-shadow: 0 0 0 7px rgba(244, 67, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
  }
}

@keyframes pulse--big {
  0% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(244, 67, 54, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
  }
}

@keyframes blinkingEllipsis {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
}

.m-blinkingEllipsis__container {
  span {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 0 6px;
    border-radius: 50%;
    animation-name: blinkingEllipsis;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    @include m-theme() {
      background-color: themed($m-textColor--tertiary);
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

span.m-animation__shimmer,
.m-animation__shimmer > span {
  @include m-theme() {
    color: rbga(themed($m-black), 0.1);

    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(themed($m-textColor--secondary)),
      to(themed($m-textColor--secondary)),
      color-stop(0.3, themed($m-aqua)),
      color-stop(0.6, #90edf3),
      color-stop(0.8, themed($m-aqua))
    );
    background: -moz-gradient(
      linear,
      left top,
      right top,
      from(themed($m-textColor--secondary)),
      to(themed($m-textColor--secondary)),
      color-stop(0.3, themed($m-aqua)),
      color-stop(0.6, #90edf3),
      color-stop(0.8, themed($m-aqua))
    );
    background: gradient(
      linear,
      left top,
      right top,
      from(themed($m-textColor--secondary)),
      to(themed($m-textColor--secondary)),
      color-stop(0.3, themed($m-aqua)),
      color-stop(0.6, #90edf3),
      color-stop(0.8, themed($m-aqua))
    );
    background-color: themed($m-textColor--secondary);
  }

  -webkit-background-size: 25% 150%;
  -moz-background-size: 25% 150%;
  background-size: 25% 150%;

  -webkit-background-clip: text;
  -moz-background-clip: text;

  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;

  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-iteration-count: infinite; //todoojm
  -moz-animation-iteration-count: 1;
  animation-iteration-count: infinite; //todoojm
  background-repeat: no-repeat;
  background-position: -25% 0;
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

.m-animation__duration--300ms {
  > span {
    -webkit-animation-duration: 300ms !important;
    -moz-animation-duration: 300ms !important;
    animation-duration: 300ms !important;
  }
}

.m-animation__delay--300ms {
  -webkit-animation-delay: 300ms !important;
  -moz-animation-delay: 300ms !important;
  animation-delay: 300ms !important;
}
