<!-- <ng-container *ngIf="(!entity.paywalled || entity.ownerObj.guid == session.getLoggedInUser().guid); else isPaywalled"> -->
  <!-- <m-media--theatre [object]="entity"
    *ngIf="entity.subtype != 'album'"
    [hidden]="!entity.subtype || entity.subtype == 'album'"
    class="mdl-shadow--4dp"
    [ngClass]="{ 'm-mature-content': attachment.shouldBeBlurred(entity), 'm-mature-content-shown': attachment.isForcefullyShown(entity) }"
  > -->


<ng-container *ngIf="(!entity.paywalled || entity.ownerObj.guid == session.getLoggedInUser().guid); else isPaywalled">
<div class="m-media-modal">
  <div class="m-media-modal__mediaWrapper">
    <!-- title -->
    <div class="m-media-modal__mediaOverlayTop m-media-modal__mediaOverlay">
      <a>
        <div class="m-media-modal__mediaTitle">Title</div>
      </a>
      <div class="m-media-modal__expandButton">
        <m-tooltip (click)="openFullScreen()" [hidden]="fullscreen" [anchor]="right" icon="fullscreen">Enter fullscreen</m-tooltip>
        <m-tooltip (click)="closeFullScreen()" [hidden]="!fullscreen" [anchor]="right" icon="fullscreen_exit">Exit fullscreen</m-tooltip>
      </div>
    </div>
    <!-- media -->
    <div class="m-media-stage">
      <img style="width:100%" [src]="entity.thumbnail" (load)="inProgress = !inProgress"/>
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl] *ngIf="inProgress"></div>
    </div>
    <div class="m-mature-overlay" (click)="entity.mature_visibility = !entity.mature_visibility">
      <span class="m-mature-overlay-note">
        <i class="material-icons" title="Mature content" i18n-title="@@M__COMMON__MATURE_CONTENT">explicit</i>
        <span i18n="@@M__COMMON__CONFIRM_18">Click to confirm your are 18+</span>
      </span>
    </div>
    <!-- actions -->
    <div class="m-media-modal__mediaOverlayBottom m-media-modal__mediaOverlay">
      <div class="m-media-modal__actionButtons">action buttons go here</div>
    </div>
  </div>
  <div class="m-media-modal__contentWrapper">
    <!-- owner block -->
    <div class="m-media-modal__ownerBlock m-owner-block">
      <div class="m-media-modal__ownerBlockAvatar avatar" [hovercard]="entity.ownerObj.guid">
        <a [routerLink]="['/', entity.ownerObj.username]">
          <img [src]="minds.cdn_url + 'icon/' + entity.ownerObj.guid + '/medium/' + getOwnerIconTime()" class="mdl-shadow--2dp"/>
        </a>
      </div>
      <div class="m-media-modal__ownerBlockBody body">
        <a [routerLink]="['/', entity.ownerObj.username]">
          <strong title={{entity.ownerObj.name}}>{{entity.ownerObj.name}}</strong>
          <m-channel--badges class="m-channel--badges-entity" [user]="entity.ownerObj" badges="[ 'admin', 'verified' ]"></m-channel--badges>
        </a>
        <a *ngIf="entity.containerObj && entity.containerObj.type == 'group'"
          [routerLink]="['/groups/profile', entity.containerObj.guid]"
          class="mdl-color-text--blue-grey-300">
          <strong>({{entity.containerObj.name}})</strong>
        </a>
        <!-- permalink -->
        <a [routerLink]="['/newsfeed', entity.guid]" class="permalink" *ngIf="entity.guid && !entity.remind_object">
          <span>{{entity.time_created * 1000 | date:'medium'}}</span>
          <span *ngIf="entity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
          <div *ngIf="boosted"
            class="mdl-card__supporting-text is-boosted"
            [class.is-onchain]="entity.boosted_onchain"
            >
            <i class="material-icons">trending_up</i>
            <a i18n="@@MINDS__CARDS__entity__BOOSTED_LABEL" [hidden]="entity.boosted_onchain">Boosted</a>
            <a i18n="@@MINDS__CARDS__entity__BOOSTED_LABEL_ONCHAIN" [hidden]="!entity.boosted_onchain" [routerLink]="['/token']">Boosted Onchain</a>
          </div>
          <div class="mdl-card__supporting-text is-boosted" *ngIf="isUnlisted()">
            <i class="material-icons unlisted">visibility_off</i>
            <a i18n>Unlisted</a>
          </div>
        </a>
        <a [routerLink]="['/newsfeed/', entity.entity_guid]" class="permalink"
          *ngIf="!entity.guid && entity.entity_guid && !entity.remind_object">
          <span>{{entity.time_created * 1000 | date:'medium'}}</span>
          <span *ngIf="entity.edited" class="m-edited-text" i18n="@@M__COMMON__EDITED">edited</span>
          <div class="mdl-card__supporting-text is-boosted" *ngIf="boosted">
            <i class="material-icons">trending_up</i>
            <a i18n="@@MINDS__CARDS__entity__BOOSTED_LABEL">Boosted</a>
          </div>
          <div class="mdl-card__supporting-text is-boosted" *ngIf="isUnlisted()">
            <i class="material-icons unlisted">visibility_off</i>
            <a i18n>Unlisted</a>
            </div>
          </a>
      </div>
    </div>
    <!-- comments tree -->
    <div class="m-media-modal__comments" *ngIf="entity.guid && entity.subtype != 'album'">
      <m-comments__tree [entity]="entity"></m-comments__tree>
    </div>
  </div>
</div>
</ng-container>
<ng-template #isPaywalled>
  <m-wire--lock-screen [(entity)]="entity"></m-wire--lock-screen>
</ng-template>
