<div
  class="m-composer__base"
  [class.m-composer__base--withMediaPreview]="attachment$ | async"
>
  <div class="m-composerBase__container">
    <div class="m-composerBase__titleBar">
      <div class="m-composerBaseTitleBar__title">
        <label [for]="id" i18n>Compose</label>
      </div>

      <div class="m-composerBaseTitleBar__menuButton">
        <i class="material-icons">more_vert</i>
      </div>
    </div>

    <ng-container *mIfBrowser>
      <m-composer__mediaPreview
        [previewResource]="preview$ | async"
      ></m-composer__mediaPreview>
    </ng-container>

    <m-composer__progress
      [inProgress]="inProgress$ | async"
      [progress]="progress$ | async"
    ></m-composer__progress>

    <div class="m-composerBase__textArea">
      <textarea
        placeholder="Speak your mind"
        i18n-placeholder
        [id]="id"
        [ngModel]="message$ | async"
        (ngModelChange)="onMessageChange($event)"
        data-cy="composer-textarea"
      ></textarea>
    </div>

    <m-composer__toolbar
      [inProgress]="inProgress$ | async"
      [hasAttachment]="!!(attachment$ | async)"
      [canPost]="canPost$ | async"
      (onAttachmentSelect)="onAttachmentSelect($event)"
      (onDeleteAttachment)="onDeleteAttachment()"
      (onPost)="onPost($event)"
    ></m-composer__toolbar>

    <div
      class="m-composerBase__error"
      *ngIf="attachmentError$ | async as lastError"
    >
      {{ lastError }}
    </div>
  </div>
</div>
