<div
  class="m-composer__base"
  [class.m-composer__base--withMediaPreview]="attachment$ | async"
>
  <div class="m-composerBase__container">
    <m-composer__titleBar [inputId]="textareaId"></m-composer__titleBar>

    <m-composer__mediaPreview></m-composer__mediaPreview>

    <m-composer__progress
      [inProgress]="inProgress$ | async"
      [progress]="progress$ | async"
    ></m-composer__progress>

    <m-composer__textArea
      class="m-composerBase__textArea"
      [inputId]="textareaId"
      #textAreaComponent
    ></m-composer__textArea>

    <m-composer__toolbar (onPost)="onPost($event)"></m-composer__toolbar>

    <div
      class="m-composerBase__error"
      *ngIf="attachmentError$ | async as lastError"
    >
      {{ lastError }}
    </div>
  </div>

  <m-composer__popup #popupComponent></m-composer__popup>
</div>
