m-pay {
  @media screen and (max-width: $max-mobile) {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}

.m-pay {
  width: 778px;
  max-width: 100%;

  @media screen and (max-width: $max-mobile) {
    flex: 1;
    width: 100%;

    m-pay__form {
      flex: 1;
    }
  }
}
