.m-pay__toolbar {
  padding: 30px 40px;
  margin: 26px 0 0;
  border-top: 1px solid;

  @media screen and (max-width: $max-mobile) {
    padding: 30px 20px;
  }

  @include m-theme() {
    border-color: themed($m-borderColor--primary);
  }

  .m-payToolbar__poweredBy {
    .m-payToolbarPoweredBy__text,
    .m-payToolbarPoweredBy__name {
      display: block;
      line-height: 19px;
    }

    .m-payToolbarPoweredBy__text {
      font-size: 14px;
      font-style: italic;

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-payToolbarPoweredBy__name {
      font-size: 16px;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }

  m-shadowboxSubmitButton {
    @media screen and (max-width: $max-mobile) {
      min-width: initial;
    }
  }
}
