<div class="m-tabs__container">
  <div class="m-tabs__tab">
    <a
      routerLink="/discovery/overview"
      routerLinkActive="m-tabs__tab--selected"
      [queryParams]="{ reload: false }"
      data-cy="discovery-tab-link-overview"
      i18n="@@DISCOVERY_TAGS__JUST_FOR_YOU"
      >Just for you</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      routerLink="/discovery/tags/your"
      routerLinkActive="m-tabs__tab--selected"
      data-cy="discovery-tab-link-tags"
      i18n="@@DISCOVERY_TAGS__YOUR_TAGS"
      >Your Tags</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      routerLink="/discovery/tags/trending"
      routerLinkActive="m-tabs__tab--selected"
      data-cy="discovery-tab-link-tags"
      i18n="@@DISCOVERY_TAGS__TRENDING"
      >Trending</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      routerLink="./"
      routerLinkActive="m-tabs__tab--selected"
      data-cy="discovery-tab-link-tags"
      i18n="@@DISCOVERY_TAGS__BOOSTED"
      >Boosted</a
    >
  </div>
  <div class="m-layout__spacer"></div>
  <!--
    TODO: Enable hashtag filtering.
    <m-discovery__settingsButton modalType="tags"></m-discovery__settingsButton>
  -->
</div>

<m-discovery__feedItem
  *ngFor="let entity$ of feed$ | async"
  [entity]="entity$ | async"
></m-discovery__feedItem>

<infinite-scroll
  distance="25%"
  (load)="loadNext()"
  [moreData]="hasMore$ | async"
  [inProgress]="inProgress$ | async"
>
</infinite-scroll>
