<div class="m-composer" [class.m-composer--poppedOut]="poppedOut">
  <div class="m-composer__container">
    <div class="m-composer__titleBar">
      <div class="m-composerTitleBar__title">
        <label [for]="id" i18n>Compose</label>
      </div>

      <div class="m-composerTitleBar__menuButton">
        <i class="material-icons">more_vert</i>
      </div>
    </div>

    <div class="m-composer__textArea">
      <textarea
        placeholder="Speak your mind"
        i18n-placeholder
        [id]="id"
        (focus)="popOut()"
        [ngModel]="service.message$ | async"
        (ngModelChange)="setMessage($event)"
      ></textarea>
    </div>

    <div class="m-composer__toolBar">
      <m-file-upload
        wrapperClass="m-composerToolbar__item"
        accept="image/*,video/*"
        (onSelect)="setAttachment($event)"
      >
        <m-icon from="ion" iconId="image"></m-icon>
        <span i18n>Upload</span>
      </m-file-upload>

      <a class="m-composerToolbar__item" (click)="setNsfw()">
        <m-icon iconId="explicit"></m-icon>
        <span i18n>NSFW</span>
      </a>

      <a class="m-composerToolbar__item" (click)="setMonetization()">
        <m-icon from="ion" iconId="cash"></m-icon>
        <span i18n>Monetize</span>
      </a>

      <a class="m-composerToolbar__item" (click)="setTags()">
        <m-icon from="ion" iconId="pound"></m-icon>
        <span i18n>Tag</span>
      </a>

      <m-button
        class="m-composerToolbar__item m-composerToolbarItem--container"
        [dropdown]="postButtonDropdown"
        (onAction)="onPost($event)"
        i18n
      >
        Post
      </m-button>
      <ng-template #postButtonDropdown>
        <ul class="m-composerPost__dropdown">
          <li (click)="setScheduler()">Set time and date</li>
        </ul>
      </ng-template>
    </div>
  </div>
</div>
