<div
  *ngIf="!embedded; else embeddedComposer"
  class="m-composer__trigger"
  (click)="onTriggerClick($event)"
>
  <m-composer__base
    class="m-composer__triggerPreview"
    [class.m-composer__triggerPreview--hidden]="modalOpen"
    [activity]="activity"
    #popOutBaseComposer
  ></m-composer__base>

  <div class="m-composer__triggerOverlay"></div>
</div>

<ng-template #embeddedComposer>
  <m-composer__base
    [activity]="activity"
    #embeddedBaseComposer
  ></m-composer__base>
</ng-template>
