m-composer {
  display: block;
  height: 450px;
}

.m-composer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.m-composer--poppedOut {
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include m-theme() {
      background: rgba(themed($m-black-always), 0.85);
    }
  }

  .m-composer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 29px 0 26px;
    border-radius: 5px;

    @include m-theme() {
      background: themed($m-bgColor--primary);
    }
  }

  &.m-composer--poppedOut .m-composer__container {
    max-width: 80vw;
    max-height: 80vh;
    width: 600px;
    height: 450px;

    // TODO: Transition animation
    @include m-theme() {
      box-shadow: 0 0 15px 0 rgba(themed($m-black), 0.1);
    }
  }

  .m-composer__titleBar {
    display: flex;
    flex-direction: row;
    padding: 0 36px;
    user-select: none;
  }

  .m-composerTitleBar__title {
    flex-grow: 1;
    font-size: 24px;
    line-height: 32px;

    > label {
      display: block;
      cursor: pointer;
    }

    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
  .m-composerTitleBar__menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    i.material-icons {
      line-height: 1;
      font-size: 20px;

      @include m-theme() {
        color: themed($m-borderColor--primary);
      }
    }
  }

  .m-composer__textArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 38px 0 0;
    padding: 0;

    textarea {
      display: block;
      width: 100%;
      height: 100%;
      flex: 1;
      box-sizing: border-box;
      padding: 0 36px;
      margin: 0;
      border: none;
      resize: none;
      background: none;
      appearance: none;
      font-family: inherit;
      font-size: 16px;
      line-height: 21px;

      &:focus {
        outline: none;
      }

      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }
}
