<m-dropdownMenu [menu]="actionsDropdown">
  <ng-content></ng-content>
</m-dropdownMenu>

<ng-template #actionsDropdown>
  <ul>
    <li
      *ngIf="service.isSubscribed$ | async; else subscribeOption"
      (click)="unsubscribe()"
    >
      <span class="m-dropdownMenu__item">
        <span i18n>Unsubscribe</span>
      </span>
    </li>
    <ng-template #subscribeOption>
      <li (click)="subscribe()">
        <span class="m-dropdownMenu__item">
          <span i18n>Subscribe</span>
        </span>
      </li>
    </ng-template>

    <!-- ******** admin block ******** -->
    <ng-container *ngIf="service.isAdmin$ | async">
      <li *ngIf="service.isBanned$ | async; else banOption" (click)="unBan()">
        <span class="m-dropdownMenu__item">
          <span i18n>Un-ban globally</span>
        </span>
      </li>
      <ng-template #banOption>
        <li (click)="banToggle = true">
          <span class="m-dropdownMenu__item">
            <span i18n>Ban globally</span>
          </span>
        </li>
      </ng-template>
      <li (click)="viewLedger()">
        <span
          class="m-dropdownMenu__item"
          i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_LEDGER"
        >
          View Ledger
        </span>
      </li>
      <li (click)="viewWithdrawals()">
        <span
          class="m-dropdownMenu__item"
          i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_WITHDRAWALS"
        >
          View Withdrawals
        </span>
      </li>
      <li (click)="viewEmail()">
        <span
          class="m-dropdownMenu__item"
          i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_EMAIL_ADDR"
        >
          E-mail Address
        </span>
      </li>

      <ng-container *ngIf="service.isExplicit$ | async; else setExplicitOption">
        <li (click)="setExplicit(false)">
          <span
            class="m-dropdownMenu__item"
            i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_EMAIL_ADDR"
          >
            Remove explicit
          </span>
        </li>
      </ng-container>
      <ng-template #setExplicitOption>
        <li (click)="setExplicit(true)">
          <span
            class="m-dropdownMenu__item"
            i18n="@@MINDS_BUTTON__USER_DROPDOWN__VIEW_EMAIL_ADDR"
          >
            Set as explicit
          </span>
        </li>
      </ng-template>

      <li (click)="$event.preventDefault(); $event.stopPropagation()">
        <m-nsfw-selector
          service="editing"
          [selected]="service.nsfw$ | async"
          (selectedChange)="setNSFWLock($event)"
        >
        </m-nsfw-selector>
      </li>

      <li (click)="reIndex()">
        <span class="m-dropdownMenu__item" i18n="@@M__ACTION__REINDEX">
          Reindex
        </span>
      </li>

      <li
        *ngIf="(service.rating$ | async) === 2; else markAsOpenOption"
        (click)="setRating(1)"
      >
        <span class="m-dropdownMenu__item" i18n="@@M__ACTION__MARK_AS_SAFE">
          Mark as Safe
        </span>
      </li>
      <ng-template #markAsOpenOption>
        <li (click)="setRating(2)">
          <span class="m-dropdownMenu__item" i18n="@@M__ACTION__MARK_AS_OPEN">
            Mark as Open
          </span>
        </li>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="!(service.isAdmin$ | async)">
      <li
        *ngIf="service.isBlocked$ | async; else blockOption"
        (click)="unblock()"
      >
        <span class="m-dropdownMenu__item">
          <span i18n>Unblock</span>
        </span>
      </li>
      <ng-template #blockOption>
        <li (click)="block()">
          <span class="m-dropdownMenu__item">
            <span i18n>Block</span>
          </span>
        </li>
      </ng-template>
    </ng-container>

    <li *ngIf="!(service.isAdmin$ | async)" (click)="report()">
      <span class="m-dropdownMenu__item">
        <span i18n>Report</span>
      </span>
    </li>
  </ul>
</ng-template>

<m-modal-confirm
  *ngIf="banToggle"
  [open]="true"
  [closeAfterAction]="true"
  (closed)="banToggle = false"
  (actioned)="ban()"
  yesButton="Ban user"
  i18n-yesButton="@@M__ACTION__BAN_USER"
>
  <p
    confirm-message
    i18n="@@MINDS__BUTTONS__USER_DROPDOWN__BAN_USER_CONFIRM_MESSAGE"
  >
    Are you sure you want to ban this user?<br /><br />
    This will close all open sessions and lock him/her out from Minds.
  </p>
  <p
    confirm-success-message
    i18n="@@MINDS__BUTTONS__USER_DROPDOWN__BAN_USER_SUCCESS_MESSAGE"
  >
    User has been banned.
  </p>
</m-modal-confirm>

<m-modal
  *ngIf="service.email$ | async as email"
  [open]="true"
  (closed)="service.email$.next(null)"
>
  <div
    class="mdl-card__supporting-text"
    style="padding: 64px; font-size: 20px; text-align: center;"
  >
    @{{ service.username$ | async }}'s email:
    <a
      *ngIf="email"
      [href]="'mailto:' + email"
      style="text-decoration: none;"
      >{{ email }}</a
    >
    <ng-container *ngIf="!email">...</ng-container>
  </div>
</m-modal>
